@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'basis_grotesque_arabic_pro';
		src: url('/fonts/basisgrotesquearabicpro-regular-webfont.woff2') format('woff2'),
			url('/fonts/basisgrotesquearabicpro-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'basis_grotesque_arabic_pro';
		src: url('/fonts/basisgrotesquearabicpro-medium-webfont.woff2') format('woff2'),
			url('/fonts/basisgrotesquearabicpro-medium-webfont.woff') format('woff');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'basis_grotesque_arabic_pro';
		src: url('/fonts/basisgrotesquearabicpro-bold-webfont.woff2') format('woff2'),
			url('/fonts/basisgrotesquearabicpro-bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
	}

	html {
		@apply bg-white font-base text-[10px] text-shark;
	}
}

@layer components {
	.content-legal h3 {
		@apply text-[18px] font-medium -tracking-[0.03em];
	}
	.content-legal h3 + * {
		@apply mt-[24px];
	}
	.content-legal * + h3 {
		@apply mt-[48px];
	}
	.content-legal p,
	.content-legal li {
		@apply text-[18px] -tracking-[0.03em];
	}
	.content-legal a {
		@apply underline;
	}

	.content-text p {
		@apply text-[18px] leading-[24px] -tracking-[0.03em] lg:text-[24px] lg:leading-[36px];
	}
	.content-text p strong {
		@apply font-medium;
	}
	.content-text a {
		@apply underline;
	}
}
